{% extends 'base.html.twig' %}

{% block title %}🚗Les bonnes Occasions !🚗{% endblock %}

{% block body %}

    <form class="d-flex" method="POST">
        <input class="form-control me-2" type="search" placeholder="Rechercher" name="search" aria-label="Search">
        <button class="btn btn-outline-danger" type="submit"><i class="bi bi-search search_icon"></i></button>
    </form>

    <div class="d-flex align-items-center justify-content-around mb-5 mt-5 row">

        {% for car in cars %}

            <div class="card col-6 mb-5" style="width: 18rem;">
                {% if car.image %}
                <img src="{{ car.image }}" class="card-img-top" alt="{{ car.image }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ car.title }}</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{ car.price }}€</li>
                        <li class="list-group-item">Mise en circulation en{{ car.circulationDate }}</li>
                        <li class="list-group-item">{{ car.km }}km au compteur</li>
                    </ul>
                    <div class="card-body">
                        <a href="#" class="btn btn-primary">En savoir plus ?</a>
                        {% if app.user %}
                            <a href="{{ path('update-car', {'id': car.id}) }}" class="btn btn-secondary">Modifier</a>
                            <a href="{{ path('delete-car', {'id': car.id}) }}" class="btn btn-danger">Supprimer</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            
        {% endfor %}

    </div>
{% endblock %}
