{% extends 'base.html.twig' %}

{% block title %}🚗Les bonnes Occasions !🚗{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.min.css" integrity="sha512-ELV+xyi8IhEApPS/pSj66+Jiw+sOT1Mqkzlh8ExXihe4zfqbWkxPRi8wptXIO9g73FSlhmquFlUOuMSoXz5IRw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js" integrity="sha512-57oZ/vW8ANMjR/KQ6Be9v/+/h6bq9/l3f0Oc7vn6qMqyhvPd1cvKBRWWpzu0QoneImqr2SkmO4MSqU+RpHom3Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js" integrity="sha512-57oZ/vW8ANMjR/KQ6Be9v/+/h6bq9/l3f0Oc7vn6qMqyhvPd1cvKBRWWpzu0QoneImqr2SkmO4MSqU+RpHom3Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {{ parent() }}
    <script src="{{ asset('/scripts/functions.js')}}"></script>
{% endblock %}

{% block body %}

    <form class="d-flex mt-3" method="POST">
        <input class="form-control me-2" type="search" placeholder="Rechercher" name="search" aria-label="Search">
        <button class="btn btn-outline-danger" type="submit"><i class="bi bi-search search_icon"></i></button>
    </form>

    <div class="d-flex align-items-center justify-content-around mt-3 row">
        <div class="w-25">
            <p>
                <label for="price-amount">Prix :</label>
                <input type="text" id="price-amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
            </p>
                
            <div id="price-slider-range"></div>
        </div>     
        <div class="w-25">
            <p>
                <label for="km-amount">Kilométrage :</label>
                <input type="text" id="km-amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
            </p>
                
            <div id="km-slider-range"></div>
        </div> 
        <div class="w-25">
            <p>
                <label for="year-amount">Année :</label>
                <input type="text" id="year-amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
            </p>
                
            <div id="year-slider-range"></div>
        </div> 
    </div>

    <div class="d-flex align-items-center justify-content-around mt-3 row">

        {% for car in cars %}

            <div class="card col-6 mb-5 cards-car">
                {% if car.image %}
                    <img src={{ asset('uploads/') ~ car.image }} class="card-img-top car-image" alt="{{ car.image }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ car.title }}</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{ car.price }}€</li>
                        <li class="list-group-item">Mise en circulation en {{ car.circulationDate }}</li>
                        <li class="list-group-item">{{ car.km }}km au compteur</li>
                    </ul>
                    <div class="card-body">
                        <a href="{{ path('contact-us-car', {'id': car.id}) }}" class="btn btn-primary">En savoir plus ?</a>
                        {% if app.user %}
                            <a href="{{ path('update-car', {'id': car.id}) }}" class="btn btn-secondary">Modifier</a>
                            <a href="{{ path('delete-car', {'id': car.id}) }}" class="btn btn-danger">Supprimer</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            
        {% endfor %}

    </div>
{% endblock %}
