{% extends 'base.html.twig' %}

{% block title %}🚗Les bonnes Occasions !🚗{% endblock %}

{% block body %}
    <div class="d-flex align-items-center justify-content-around mb-5 mt-5 row">

        {% for car in cars %}

            <div class="card col-6 mb-5" style="width: 18rem;">
                {% if car.image %}
                <img src="{{ car.image }}" class="card-img-top" alt="{{ car.image }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ car.title }}</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{ car.price }}</li>
                        <li class="list-group-item">{{ car.circulationDate }}</li>
                        <li class="list-group-item">{{ car.km }}</li>
                    </ul>
                    <div class="card-body">
                        <a href="#" class="btn btn-primary">En savoir plus ?</a>
                    </div>
                </div>
            </div>
            
        {% endfor %}

    </div>
{% endblock %}
